@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добредојде!</h1>
    <h2>Избери од менито погоре за да работиш со студенти, наставници, предмети или запишувања.</h2>
</div>
